body {
  background: url(../images/IMG_1426.png)

}

.navbar {
background-color: white;

}
.navbar-brand {
  color: black;
}
.carousel {
    max-height: 800px;
    overflow: hidden;  
  }
  
  #carousel-item {
    width: 100%;
    height: auto;
  }

.aboutMe {
    
    text-align: center;
}

#aboutSebi {
  font-weight: bolder;
  

}